<html lang="ko" layout:decorate="~{global/layout}">
<head>
    <title th:text="${article.title}"></title>
</head>
<body>
<div layout:fragment="content" class="mx-4">
    <!-- article title -->
    <h1 th:text="${article.title}" class="mt-3 pb-2"></h1>
    <!-- article author -->
    <div class="flex items-center bg-gray-600 pl-2 py-1 border-t border-indigo-500">
        <div class="btn btn-square btn-ghost bg-white mr-1">
            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3"
                      fill="white"/>
            </svg>
        </div>
        <div class="mr-2">
            <h1 th:if="${article.author != null}" th:text="${article.author.username}"></h1>
        </div>
        <div class="mr-1">
            <label class="label-text-alt">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"
                     class="text-gray fill-current">
                    <path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z"/>
                </svg>
            </label>
        </div>
        <div>
            <label class=label-text-alt th:if="${article.createDateTime != null}"
                   th:text="${#temporals.format(article.createDateTime, 'yyyy.MM.dd HH:mm')}"></label>
        </div>
    </div>

    <!-- article content -->
    <div th:text="${article.content}" class="my-3 pb-40 border-b border-indigo-500 pb-2"></div>

    <!-- article comment index -->
    <div class="flex items-center">
        <div class="mr-2">
            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512" class="text-white fill-current">
                <path d="M512 240c0 114.9-114.6 208-256 208c-37.1 0-72.3-6.4-104.1-17.9c-11.9 8.7-31.3 20.6-54.3 30.6C73.6 471.1 44.7 480 16 480c-6.5 0-12.3-3.9-14.8-9.9c-2.5-6-1.1-12.8 3.4-17.4l0 0 0 0 0 0 0 0 .3-.3c.3-.3 .7-.7 1.3-1.4c1.1-1.2 2.8-3.1 4.9-5.7c4.1-5 9.6-12.4 15.2-21.6c10-16.6 19.5-38.4 21.4-62.9C17.7 326.8 0 285.1 0 240C0 125.1 114.6 32 256 32s256 93.1 256 208z"/>
            </svg>
        </div>
        <div class="mb-2">
            <h5 th:text="|${#lists.size(article.commentList)}개의 댓글|"></h5>
        </div>
    </div>

    <!-- article comment -->
    <div th:each="comment : ${article.commentList}" class="mx-2">
        <div class="flex items-center bg-gray-600 pl-2 py-1">
            <div class="btn btn-square btn-ghost bg-white mr-1">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                    <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3"
                          fill="white"/>
                </svg>
            </div>
            <div class="mr-2">
                <h1 th:if="${comment.author != null}" th:text="${comment.author.username}"></h1>
            </div>
            <div class="mr-1">
                <label class="label-text-alt">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"
                         class="text-gray fill-current">
                        <path d="M512 240c0 114.9-114.6 208-256 208c-37.1 0-72.3-6.4-104.1-17.9c-11.9 8.7-31.3 20.6-54.3 30.6C73.6 471.1 44.7 480 16 480c-6.5 0-12.3-3.9-14.8-9.9c-2.5-6-1.1-12.8 3.4-17.4l0 0 0 0 0 0 0 0 .3-.3c.3-.3 .7-.7 1.3-1.4c1.1-1.2 2.8-3.1 4.9-5.7c4.1-5 9.6-12.4 15.2-21.6c10-16.6 19.5-38.4 21.4-62.9C17.7 326.8 0 285.1 0 240C0 125.1 114.6 32 256 32s256 93.1 256 208z"/>
                    </svg>
                </label>
            </div>
            <div>
                <label class=label-text-alt th:if="${comment.createDateTime != null}"
                       th:text="${#temporals.format(comment.createDateTime, 'yyyy.MM.dd HH:mm')}"></label>
            </div>
        </div>
        <ul class="bg-gray-700 mb-2 pl-6">
            <li th:text="${comment.content}" class="py-2"></li>
        </ul>
    </div>

    <!-- comment input form -->
    <form th:action="@{|/comment/write/${article.id}|}" th:object="${commentForm}" method="post"
          class="mx-2 flex-col">
        <div class="form-control mx-auto my-auto">
            <textarea sec:authorize="isAnonymous()" disabled maxlength=300 th:field="*{content}" rows="5"
                      placeholder="로그인 후 댓글 작성이 가능합니다." class="form-input w-full px-2 py-2"></textarea>
            <textarea sec:authorize="isAuthenticated()" maxlength=300 th:field="*{content}" rows="5"
                      placeholder="댓글을 작성해주세요." class="form-input w-full px-2 py-2"></textarea>
        </div>
        <label class="label">
            <span class="label-text-alt"></span>
            <span>&nbsp;</span>
            <span th:if="${#fields.hasErrors('content')}"
                  th:each="err:${#fields.errors('content')}"
                  th:text="${err}" class="error-message text-red-500 text-sm"></span>
        </label>
        <input sec:authorize="isAuthenticated()" type="submit" value="댓글 작성" class="btn btn-primary my-2">
    </form>
</div>
</body>
</html>