<!DOCTYPE html>
<html lang="ko">
<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
<head>
    <meta charset="UTF-8">
    <title>article_list</title>
</head>
<table>
    <thead>
    <tr>
        <th>제목</th>
        <th>작성일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="article : ${articleList}">
        <td>
            <a th:href="@{|/article/detail/${article.id}|}"
               th:text="${article.title}">
            </a>
        </td>
        <td th:text="${article.createDateTime}"></td>
    </tr>
    </tbody>
</table>
</html>